body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Righteous", cursive;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-size: 50px;
  width: 100%;
  text-align: center;
}
.input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.gifName,
.gifsAmount {
  width: 200px;
  height: 50px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 15px;
  font-family: "Righteous", cursive;
}
.search {
  font-size: 20px;
  width: 210px;
  height: 35px;
  font-family: "Righteous", cursive;
  border: 5px solid;
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}
.showGifs ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
